server:
  port: 8095

spring:
  application:
    name: mes-sleuth

logging:
  level:
    com.mes.sleuth: DEBUG
    org.springframework.cloud.sleuth: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
